* {
  margin: 0;
  padding: 0;
  outline: 1px red solid;
}

body {
  background-color: black;
  font-size: 1.5rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  display: flex;

  justify-content: space-between;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
}
